@import "mixins";

/*--
 Global Variables
--*/

//Fonts
$globalFontSize: 18px;
$globalFontColor: #666;

//Colors
$green: #8ec642; 
$blue: #11b6e0; 
$red: #ef4323;
$orange: #f79622;
$cyan: #00cccc;
$purple: #573189;

//Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;