/*--
Imports
--*/
/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*--
 Mixins
--*/
@font-face {
  font-family: 'Conv_gotham-light-1361523255';
  src: url("../fonts/gotham-light-1361523255.eot");
  src: url("../fonts/gotham-light-1361523255.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/gotham-light-1361523255.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*--
 Mixins
--*/
@font-face {
  font-family: 'Conv_gotham-light-1361523255';
  src: url("../fonts/gotham-light-1361523255.eot");
  src: url("../fonts/gotham-light-1361523255.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/gotham-light-1361523255.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*--
 Global Variables
--*/
/*--
Tags
--*/
/* line 14, main.scss */
body, html {
  font-size: 62.5%;
}

/* line 16, main.scss */
body {
  background: #FFF;
  line-height: 1.4em;
  color: #666666;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 22px;
  line-height: 2.2rem;
  font-family: "Conv_gotham-light-1361523255";
}

/* line 25, main.scss */
a {
  text-decoration: none;
}

/* line 29, main.scss */
h1, h2 {
  font-weight: bold;
  font-size: 18px;
  font-size: 18px;
  font-size: 1.8rem;
}

/* line 35, main.scss */
h3 {
  font-weight: bold;
}

/* line 39, main.scss */
p {
  margin-bottom: 10px;
}

/* line 43, main.scss */
strong {
  font-weight: bold;
}

/* line 46, main.scss */
.borderRadius {
  border-radius: 25px;
}

/* line 49, main.scss */
.cyan {
  color: #00cccc;
}

/* line 53, main.scss */
.red {
  color: #ef4323;
}

/* line 56, main.scss */
.green {
  color: #8ec642;
}

/* line 59, main.scss */
.orange {
  color: #f79622;
}

/* line 63, main.scss */
.purple {
  color: #573189;
}

/*--
Classes
--*/
/* line 70, main.scss */
.hide {
  display: none;
}

/*--
Layout
--*/
/* line 78, main.scss */
#wrap {
  width: 1200px;
  margin: 0 auto;
}
/* line 82, main.scss */
#wrap.home {
  margin-top: 150px;
  text-align: center;
}
/* line 85, main.scss */
#wrap.home .logo {
  width: 270px;
  margin: 0 auto;
  display: block;
}
/* line 90, main.scss */
#wrap.home h1 {
  width: 600px;
  margin: 30px auto;
}
/* line 94, main.scss */
#wrap.home .startBtn a {
  color: #111;
  display: block;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background: #11b6e0;
  box-sizing: border-box;
  height: 60px;
  width: 210px;
  font-size: 25px;
  font-size: 2.5rem;
}
/* line 107, main.scss */
#wrap.presentation .logo {
  width: 20%;
  margin-bottom: 50px;
}
/* line 112, main.scss */
#wrap.presentation .links p {
  margin: 10px 0 30px 0;
}
/* line 116, main.scss */
#wrap.presentation .slide {
  height: 800px;
  width: 990px;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 25px;
  line-height: 2.5rem;
}
/* line 122, main.scss */
#wrap.presentation .rightBullets {
  position: absolute;
  top: 350px;
  right: 150px;
}
/* line 126, main.scss */
#wrap.presentation .leftImg {
  position: absolute;
  top: 350px;
  right: 150px;
}
/* line 130, main.scss */
#wrap.presentation .installCommand {
  color: #FFF;
  padding: 18px;
  background: #666;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  right: 250px;
}
/* line 137, main.scss */
#wrap.presentation p {
  margin: 50px 0;
}
/* line 141, main.scss */
#wrap.presentation h3 {
  margin-bottom: 25px;
}
/* line 145, main.scss */
#wrap.presentation ul {
  margin-left: 25px;
}
/* line 147, main.scss */
#wrap.presentation ul li {
  text-align: left;
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 25px;
}
/* line 155, main.scss */
#wrap.presentation h2 {
  font-size: 40px;
  font-size: 4rem;
  line-height: 40px;
  line-height: 4rem;
  margin-bottom: 35px;
}
/* line 161, main.scss */
#wrap.presentation #first {
  text-align: center;
  font-size: 30px;
  font-size: 3rem;
  line-height: 30px;
  line-height: 3rem;
}
/* line 163, main.scss */
#wrap.presentation #first .logo {
  width: 28%;
  margin-bottom: 0;
}
/* line 167, main.scss */
#wrap.presentation #first p {
  font-weight: bold;
}
/* line 175, main.scss */
#wrap.presentation #contents .tools {
  width: 50%;
}
/* line 180, main.scss */
#wrap.presentation #dry .borderRadius {
  width: 23%;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  position: absolute;
  top: 60px;
  right: 60px;
}
/* line 186, main.scss */
#wrap.presentation #snippets img.snippet {
  width: 70%;
}
/* line 191, main.scss */
#wrap.presentation #sass .glasses {
  width: 40%;
  margin-bottom: 15px;
}
/* line 198, main.scss */
#wrap.presentation #compass img.compassLogo {
  width: 20%;
  margin-bottom: 25px;
}
/* line 202, main.scss */
#wrap.presentation #compass h3 {
  margin-bottom: 20px;
}
/* line 205, main.scss */
#wrap.presentation #compass .configFile {
  margin-top: 80px;
}

/* line 211, main.scss */
.hint {
  color: #FFF;
  padding-top: 25px;
  text-align: center;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0px;
}

/*--
Breakpoints
--*/
