/*--
Imports
--*/
@import "compass";
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "mixins";
@import "vars";


/*--
Tags
--*/
body, html{ font-size: 62.5%; }

body{
	background: #FFF;
	line-height: 1.4em;
	color: $globalFontColor;
	@include rem(font-size, 1.6);
	@include rem(line-height, 2.2);
	font-family: "Conv_gotham-light-1361523255";
}

a{
	text-decoration: none;
}

h1, h2{
	font-weight: bold;
	font-size: $globalFontSize;
	@include rem(font-size, 1.8);
}

h3{
	font-weight: bold;
}

p{
	margin-bottom: 10px;
}

strong{
	font-weight: bold;
}
.borderRadius{
	border-radius: 25px;
}
.cyan{
	color: $cyan;
}

.red{
	color: $red;
}
.green{
	color: $green;
}
.orange{
	color: $orange;
}

.purple{
	color: $purple;	
}

/*--
Classes
--*/
.hide{
	display: none;
}


/*--
Layout
--*/
#wrap{
	width: 1200px;
	margin: 0 auto;

	&.home{
		margin-top: 150px;
		text-align: center;
		.logo{
			width: 270px;
			margin: 0 auto;
			display: block;
		}
		h1{
			width: 600px;
			margin: 30px auto;
		}
		.startBtn a{
			color: #111;
			display: block;
			margin: 0 auto;
			padding: 20px 0 0 0;
			background: #11b6e0;
			box-sizing: border-box;
			@include size(210px 60px);
			@include rem(font-size, 2.5);
		}
	}

	&.presentation{
		.logo{
			width: 20%;
			margin-bottom: 50px;
		}
		.links{
			p{
				margin: 10px 0 30px 0;
			}
		}
		.slide{
			@include size(990px 800px);
			@include rem(font-size, 2.5);
			@include rem(line-height, 2.5);
		}

		.rightBullets{
			@include position(absolute, 350px 150px null null);
		}

		.leftImg{
			@include position(absolute, 350px 150px null null );
		}

		.installCommand{
			color: #FFF;
			padding: 18px;
			background: #666;
			border-radius: 10px;
			@include position(absolute, 120px 250px null null );	
		}
		p{
			margin: 50px 0;
		}

		h3{
			margin-bottom: 25px;
		}

		ul {
			margin-left: 25px;
			li{
				text-align: left;
				list-style: disc;
				padding-left: 25px;
				margin-bottom: 25px;
			}
		}

		h2{
			@include rem(font-size, 4.0);
			@include rem(line-height, 4.0);
			margin-bottom: 35px;
		}

		#first{
			text-align: center;
			.logo{
				width: 28%;
				margin-bottom: 0;
			}
			p{
				font-weight: bold;
			}
			@include rem(font-size, 3.0);
			@include rem(line-height, 3.0);
		}

		#contents{
			.tools{
				width: 50%;
			}
		}

		#dry .borderRadius{
			width: 23%;
			@include opacity(0.5);
			@include position(absolute, 60px 60px null null);
		}

		#snippets img.snippet{
			width: 70%;
		}

		#sass{
			.glasses{
				width: 40%;
				margin-bottom: 15px;
			}
		}

		#compass{
			img.compassLogo{
				width: 20%;
				margin-bottom: 25px;
			}
			h3{
				margin-bottom: 20px;
			}
			.configFile{
				margin-top: 80px;
			}
		}
	}
}
.hint{
	color: #FFF;
	padding-top: 25px;
	text-align: center;
	@include size(100% 50px);
	background: rgba(0,0,0,0.4);
	@include position(absolute, null null 0px null);
}

/*--
Breakpoints
--*/
@include respond-to($mobile){

}

@include respond-to($tablet){
	
}

@include respond-to($desktop){
	
}
